<div style="max-height:175px; height:150px;">
	<!-- Use javascript to get current size of viewing screen instead -->
	<h1 style="text-align:center; font-size:90px; font-family: Helvetica; font-weight:normal; text-shadow:1px 1px 2px #2c3e50; line-height:10px; margin-top:75px;">
		Matthew Pua
	</h1>
	<div>
		<ul style="text-align:center; margin:0 auto; width:300px;">
			<li style="list-style:none; float:left; margin-left:50px; ">
				<%= link_to "Home", root_path, style:"color:white; text-decoration:none;" %>
			</li>
			<li style="list-style:none; float:left; margin-left:50px;">
				<%= link_to "Extra", extra_path , style:"color:white; text-decoration:none;"%>
			</li>
			<li style="list-style:none; float:left; margin-left:50px;">
				<%= link_to "Experiences", experiences_path, style:"color:white; text-decoration:none;" %>
			</li>
		</ul>
	</div>
</div>