<div style="height:175px;">
	<!-- Use javascript to get current size of viewing screen instead -->
	<h1 style="text-align:center; font-size:90px; font-family: Helvetica; font-weight:normal; text-shadow:1px 1px 2px #2c3e50; line-height:10px; margin-top:75px;">
		Matthew Pua
	</h1>
	<div>
		<div style="text-align:center; margin:0 auto; width:300px;">
		
				
				<i style="margin-left:10px;"><%= link_to image_tag("/assets/Home_icon_black.png", style:"color:#006699; text-decoration:none; border-radius:15px; border:2px solid black; background-color:white;padding:15px; width:30px; height:30px;"), root_path %></i>

			
				<i style="margin-left:10px;"><%= link_to image_tag("/assets/plus_icon.png", style:"color:#006699; text-decoration:none; border-radius:15px; border:2px solid black; background-color:white;padding:15px; width:30px; height:30px;"), root_path %></i>

				<i style="margin-left:10px;"><%= link_to image_tag("/assets/book_icon.png", style:"color:#006699; text-decoration:none; border-radius:15px; border:2px solid black; background-color:white;padding:15px; width:30px; height:30px;"), root_path %></i>

			
		</div>
	</div>
</div>