<div style="max-width:1400px; height:100px; border:1px solid black; ">
	<!-- Use javascript to get current size of viewing screen instead -->
	<h2 style="text-align:center; margin-bottom:-5px; margin-top:0;">
		Matthew Anthony Tan Pua
	</h2>
	<div>
		<ul style="text-align:center; margin-top:0;">
			<li style="list-style:none;">
				<%= link_to "Home", "" %>
			</li>
			<li style="list-style:none;">
				<%= link_to "About", "" %>
			</li>
			<li style="list-style:none;">
				<%= link_to "Contact", "" %>
			</li>
		</ul>
	</div>
</div>