<div class="container-fluid">
	<div class="row title">
		<div class="col-md-8 col-md-offset-2">
			<div class="row">
				<div class="col-md-12 text-left">
				<h1 id="name"> Matthew Pua </h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-left">
				<h2> Iron Lifting | Bathroom Singing | Engineering Student</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="row background">
		<div class="col-md-8 col-md-offset-2">
			<div class="row">
				<div class="col-md-12 text-left">
					<h3> Who are you? </h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 text-left col-md-offset-1">
					<p> I'm a soon to be fourth year Electrical and Computer Engineering Student studying at the University of Toronto majoring in Software development. </p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 text-left col-md-offset-1">
					<p> I have a passion for entrepreneurship and career development. I'm also a dragonboat athlete on the side going for my third straight year. </p>
				</div>
			</div>
		</div>
	</div>
	<div class="row irondragons hide" >
		<div class="col-md-8 col-md-offset-2">
			<div class="row">
				<div class="col-md-12 text-left">
					<h3> University of Toronto: Iron Dragons Dragonboat Team </h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 text-left col-md-offset-1">
					<p> I'm currently a member of the University of Toronto Engineering Dragonboat Team. This is my third year competing with the team. We compete during the summer in competitions around Ontario such as the Milton Dragonboat Festival and the Toronto International Dragonboat Festival. Check out our team  <a href="http://dragonboat.skule.ca/">here. </a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="row yncn hide">
		<div class="col-md-8 col-md-offset-2">
			<div class="row">
				<div class="col-md-12 text-left">
					<h3> You're Next Career Network </h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 text-left col-md-offset-1">
					<p> The You're Next Career Network (YNCN) is a student organization at the University of Toronto dedicated to student professional development.</p>
					<p>I was part of the organization for two years, and in my time there I started The Startup Hub. I also led the Largest Startup Career Expo in Canada in 2014. </p>
					<p>
					Check out some articles about the Startup Expo and my organization here:
					<ul>
						<li>
							<a href="http://news.utoronto.ca/spotlight-startups-u-t-students-prep-canada%E2%80%99s-largest-startup-career-expo"> UofT News </a>
						</li>
						<li>
							<a href="http://www.betakit.com/youre-next-career-networks-startup-expo-breaks-2000-attendee-mark/"> BetaKit </a>
						</li>
						<li>
							<a href="http://www.nowdigitalnetwork.com/startup-career-expo-is-set-to-connect-students-with-hiring-companies/"> now Digital Network </a>
						</li>
						<li>
							<a href="https://www.youtube.com/watch?v=6RacYPc4Ij0">A Short Video on the Event</a>
						</li>
					</ul>
					</p>
					<p>
					Find out more about YNCN <a href="http://yourenext.ca/startup/expo"> here. </a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row hide insite">
		<div class="col-md-8 col-md-offset-2">
			<div class="row">
				<div class="col-md-12 text-left">
					<h3> InsiteUofT </h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 text-left col-md-offset-1">
					<p> InsiteUofT was a wekeend fling started at a local hackathon that turned into a full-blown project. It's aimed to be a free to use platform for University of Toronto students, specifically Engineering students, to find people that can help them prep for interviews.</p>
					<p>  
					InsiteUofT is a current work in progress. Check out it current's state 
					<a href="http://insiteuoft.herokuapp.com"> here. </a>
					</p>
				</div>
			</div>
		</div>
	</div>



	<div class="row info">
		<div class="col-md-8 col-md-offset-2">
			<div class="row">
				<div class="col-md-12 text-left">
					<h2> Anything you want to know? </h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-left">
					<h4> Click one of the icons below to find out more. </h4>
				</div>
			</div>
			<div class="row icons">
				<div class="col-md-4">
					<a href="/" id="irondragons"><img src="/assets/IronDragons.png" class="img-responsive"></a>
				</div>
				<div class="col-md-4">
					<a href="/" id="yncn"><img src="/assets/YNCN.png" class="img-responsive"></a>
				</div>
				<div class="col-md-4">
					<a href="/" id="insite"><img src="/assets/insite-logo.png"  class="img-responsive"></a>
				</div>
			</div>
		</div>
	</div>

	<div class="row contact">
		<div class="col-md-8 col-md-offset-2">

		</div>
	</div>



</div>