
<!--	<span style="border:1px solid black; float:left; width:150px; height:2000px; margin:0 auto;">
	Left Column
	</span> -->
	<div style="background-color:white; color:#006699;">
		<h2 style="text-align:center; font-family:Helvetica; line-height: 2; font-weight:lighter; font-size:30px; border:1px solid black;">
					About Me
		</h2>
	</div>
	<div style="background-color:#006699; color:white; ">	

		<div style="width:1095px; height:525px; margin:0 auto;">
			
			<div style="float:left; font-family:verdana; line-height:2; width:600px; background-color:white; color:#006699; border-radius:10px; padding:10px; border:1px solid black">
			<p style="color:black; display:inline-block;">So let me first introduce myself:</p>
			<br/>
			<ul style="list-style:none;">
			<li>
				My name is Matthew Pua.
			</li>
			<br/>

			
			<li>
				I am a third year student at the University of Toronto.
			</li>
				<br/>
			<li>
				I am currently pursuing my Bachelor's of Applied Science and Engineering in the field of Computer Engineering.
			</li>
				<br/>
			<li>
				I'm also a water bender on my free time.
			</li>
			</ul>

			</div>
				<span style="float:right; position:relative; left:25px;">
					<div style="border:10px solid white; border-bottom-width:40px; width:300px; height:300px; margin-right:100px; box-shadow: 5px 5px rgba(7, 4, 4, 0.45); -webkit-box-shadow: 5px 5px rgba(7, 4, 4, 0.45); -moz-box-shadow:5px 5px rgba(7, 4, 4, 0.45);">
						<%= image_tag("/assets/waterfall.jpg", style:"height:300px; width:300px;") %>
					</div>
					<div style="position:relative; top:-25px; left:75px; font-weight:bolder; font-family:Helvetica; color:black;">
						Hey Look a Waterfall
					</div>
					
				</span>

		</div>
	</div>
		


<!--	<span style="border:1px solid black; float:left; width:150px; height:2000px">
		Right Column
	</span>-->
