<div style="width:1000px; margin:0 auto; height:400px;">

	<div style="width:600px; margin:0 auto; background-color:white; float:left; border-radius:10px; height:200px; border:3px solid black;">
		<h2 style="color:#006699; font-family:Helvetica; text-align:center;">
		Looking to get in Touch?
		</h2>
		<p style="color:black; font-family:Verdana; text-align:center; line-height:2;">
			Find me on one of the networks below 
			<br/>
			or 
			<br/>
			send me an email using the form to your right.
		</p>
	</div>

	<div style="width:300px; margin:0 auto; background-color:white; float:right;">
		
		
	</div>
</div>