<div class="experiences">

	<div style="margin:0 auto; width: 1100px; display:block;" class="white border3Black">
		<div>
			<div class="border3Black" style="background-color:#24304E;">
				<h3 style="text-align:left; border:0; line-height:0;margin-left:20px; color:white;"> Work Experience </h3>
			</div>
			<table>
				<tr>
					<td>
						Kiinzel - Ruby on Rails Summer Intern 
					</td>
				</tr>
				<tr>
					<td>
					Overview:
						<ul>
							<li>
								Regular maintenance of website including dealing with: bug fixes, incompatibilities and improvements
							</li>
							<li>
							Focused on front-end design and user experience using: JavaScript, HTML, CSS and Ruby on Rails
							</li>
							<li>
								Developed backend components of website on PostgreSQL and Rails
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
					Achievements:
						<ul>
							<li> Built and implemented major features on the website including: user validation and a follow feature
							</li>
						</ul>
					</td>
				</tr>
				
				<tr>
					<td>
					Quality Control Analyst Intern - Allied Pak Inc.
					</td>
				</tr>
				<tr>
					<td>
					Overview:
						<ul>
							<li>
							Operations of packaging equipment
							</li>
							<li>
							Inventory Management
							</li>
							<li>
							Quality Assurance
							</li>
						</ul>

					</td>
				</tr>
				<tr>
					<td>
					Achievements:
						<ul>
							<li>
								Created an organizational system using Excel to keep track of physical inventory
							</li>
						</ul>
					</td>
				</tr>
			</table>
		</div>

		<div>
			<div class="border3Black" style="background-color:#F5CE51;">
				<h3 style="text-align:left; border:0; line-height:0;margin-left:20px; color:black;"> Leadership Background </h3>
			</div>
			<table>
				<tr>
					<td>
					Managing Director - You're Next Career Network: The Startup Hub
					</td>
				</tr>
				<tr>
					<td>
					Overview:
					<ul>
						<li>
						Directly responsbile for overlal management of all projects, finances, events and activities
						</li>
						<li>
						In charge of creating and maintaining all major partnerships and organization relationships
						</li>
						<li>
						Working with different campus groups to expand current market reach into previously untapped groups
						</li>
					</ul>
					</td>
				</tr>
				<tr>
					<td>
						Achievements:
						<ul>
							<li>
								Created structured internal documentation system to allow for full transparency into initiative
							</li>
							<li>
							Reaching out to over 300 startup companies through various marketing channels and pitching to companies about events and opportunities. Led the development for our business development packages which were went to targeted companies.
							</li>
						</ul>
					</td>
				</tr>
				
				<tr>
					<td>
					Director of Operations - You're Next Career Network: Startup Career Expo
					</td>
				</tr>
				<tr>
					<td>
						Overview:
							<ul>
								<li>
									Responsible for all finance and budgeting activities
								</li>
								<li>
									Coordination of event logistics including vendor relationships, and event management
								</li>
								<li>
									Worked with team to create and execute business development plan
								</li>
							</ul>
					</td>
				</tr>
				<tr>
					<td>
						Achievements:
							<ul>
								<li>
									Delivered project event on time and under budget by 30%
								</li>
								<li>
								Leveraged variety of media resources to identify over 100 prospective companies; personally brought on 45% (17/38) of the total companies that attended the Expo
								</li>
								
							</ul>
					</td>
				</tr>
			</table>
		</div>

		<div>
			<div class="border3Black" style="background-color:#741874;">
				<h3 style="text-align:left; border:0; line-height:0;margin-left:20px; color:white;"> Education and Background </h3>
			</div>
			<table>
				<tr>
					<td>
					University of Toronto - Bachelor's Applied Science and Engineering
					<br/>
					Electrical and Computer Engineering
					<ul>
						<li>
							CGPA: 3.45
						</li>
					</ul>

					</td>
				</tr>
				<tr>
					<td>
					Languages
						<ul>
							<li>
								C/C++ - Intermediate
							</li>
							<li>
								Ruby on Rails - Intermediate
							</li>
							<li>
								HTML/CSS - Novice
							</li>
							<li>
								JavaScript/jQuery - Novice
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
					Projects
						<ul>
							<li>
								Client/Server Database Interaction in C
							</li>
							<li>
								Electronic Fingertip Piano System in Assembly
							</li>
							<li>
								This website in Ruby on Rails!
							</li>

						</ul>
					</td>
				</tr>
				
				
		</div>


	</div>
</div>