<div style="width:1500px; height: 900px; margin:0 auto;">
	<div style=" width:1200px; height:800px; float:left; ">
		
			
			<div style="margin-bottom:20px; float:left;">

				<li style="border:3px solid black; width:600px; height:250px; background-color:white;  clear:right;  margin: 0 auto; border-radius:15px;">
					<div style="border:3px solid black; width: 250px; height: 110px;display: inline-block;margin: 10px;border-radius: 10px; text-align:center; float:left;">
				<%= link_to image_tag("/assets/YNCNText.png", style: "width:220px;
					height:100px;"), ""%>
					</div>
					<h4 style="color:black; ">
					Managing Director: The Startup Hub
					</h4>
					<p style="color:black;">
						February 2013 - Present
					</p>
				</li>
			</div>
			<div style="border:3px solid black; width:500px; height:250px; background-color:white;  float:right;  margin: 0 auto; border-radius:15px;">
				
				
				 
			</div>

			<div style="margin-bottom:20px;clear:left; float:left;">
				
				
				<li style="border:3px solid black; width:600px; height:250px; background-color:white;  clear:right;  margin: 0 auto; border-radius:15px;">
					<div style="border:3px solid black; width: 250px; height: 110px;display: inline-block;margin: 10px;border-radius: 10px; text-align:center; float:left;">
					<%= link_to image_tag("/assets/Kiinzel.png", style: "width:220px;
						height:100px;"), ""%>
						</div>
						<h4 style="color:black;">
						Ruby on Rails Developer!
						</h4>
						<p style="color:black;">
							May 2013 - August 2013
						</p>
				</li>

			</div>
						<div style="border:3px solid black; width:500px; height:250px; background-color:white;  float:right;  margin: 0 auto; border-radius:15px;">
				
				WHAT I DID ETC
				 
			</div>
			<div style="margin-bottom:20px; clear:left; float:left;">
			
			
				<li style="border:3px solid black; width:600px; height:250px; background-color:white;  clear:right;  margin: 0 auto; border-radius:15px;">
					<div style="border:3px solid black; width: 250px; height: 110px;display: inline-block;margin: 10px;border-radius: 10px; text-align:center; float:left;">
					<%= link_to image_tag("/assets/YNCNText.png", style: "width:220px;
					height:100px;"), ""%>
					</div>
					<h4 style="color:black;">
					Manager of Operations: Startup Career Expo
					</h4>
					<p style="color:black;">
						March 2012 - October 2012
					</p>
				</li>
			</div>
						<div style="border:3px solid black; width:500px; height:250px; background-color:white;  float:right;  margin: 0 auto; border-radius:15px;">
				
				
				 
			</div>

		
		
	</div>
</div>