<div class="extra">
	<div class="container">
		<ul>
			<div>
				<li class="border3Black white border_15">
					<h3> Dragonboating </h3>
					<p>
						This year I'll be heading into my third year on the
						University of Toronto Iron Dragon's Dragonboat Team,  
						The only Engineering only dragonboat team around!
						Are you a fellow dragonboater or want to know more about the sport/team? Definitely come talk to me or visit us <%= link_to "here.", "http://dragonboat.skule.ca/", style:"text-decoration:none;" %>
					</p>
				</li>
				<li class="border3Black border_15 white">
					<%= link_to image_tag("/assets/dragonboat1.jpg"), "" %>
				</li>
			</div>

			<div>
				<li class="border3Black white border_15">
					<h3> Music </h3>
					<p>
						I thoroughly enjoy spending some time just listening to some music. Whether the genre be classical, maybe some Jazz or even some electronic, I'm willing to give everything a chance!
						<br/>
						<br/>
						Currently I am a big enthusiast for the piano and love learning new scores all the time. I've also dabbled with the guitar and used to play Alto Saxophone back in highschool.
					</p>
				</li>

				<li style="border:3px solid black; width:550px; height:400px; background-color:white; float:left; clear:right; margin-bottom: 20px;border-radius:15px;">
				Take picture of Guitar + Piano
				</li>
			</div>
			<div>
				<li class="white border3Black border_15">
					<h3>
						Everything Else!
					</h3>
					<p>
					I have a pretty wide range of interests whether it be talking about health and fitness, all the way to keeping up with the latest investment news. Other times you can find me thinking up of potential startup ideas, or maybe you'll find me trying to create the most delicious smoothie that has ever been invented.
					<br/>
					<br/>
					Most often than not, you'll catch me working on something on the side project or just lounging about. 
					</p>
				</li>
				<li style="border:3px solid black; width:550px; height:400px; background-color:white; float:left; clear:right;  margin-bottom: 20px;border-radius:15px;">
					Picture of Smoothie?
				</li>
			</div>
		</ul>
<!--		<div style="float:right;">
				<i style="margin-left:10px;"><%= link_to image_tag("/assets/arrowUp.png", style:"color:#006699; text-decoration:none; border-radius:15px; border:2px solid black; background-color:white;padding:15px; width:30px; height:30px;"), extra_path %></i>
				
				<i style="margin-left:10px;"><%= link_to image_tag("/assets/arrowDown.png", style:"color:#006699; text-decoration:none; border-radius:15px; border:2px solid black; background-color:white;padding:15px; width:30px; height:30px;"), experiences_path %></i>

		</div>-->
	</div>
</div>