		<div style="border:1px solid blue; width:1095px; height:333px; margin:auto;">
			<h2 style="text-align:center">
				“Everything you can imagine is real.” 
				<h4 style="text-align:center;">
					―	 Pablo Picasso
				</h4>
			</h2>

			<h2 style="text-align:center;">
			"The way to get started is to quit talking and begin doing." 
				<h4 style="text-align:center;">
					―	Walt Disney
				</h4>
			</h2>

			<h2 style="text-align:center;">
			"Winning isn’t everything, but wanting to win is."
				<h4 style="text-align:center;">
					–	Vince Lombardi
				</h4>
			</h2>


			Background image of Div should be something 

		</div>
		<div style="border:1px solid orange; max-width:1095px; max-height:333px; margin: 0 auto; ">
			<h2 style="text-align:center">
				Who I am
			</h2>
			<p>
				<ul>
					<li style="float:left; width:200px; margin:0 auto;">
						A Dreamer
					</li>
					<li style="float:left; width:200px;margin-top:75px;margin-left:200px;">
						A Thinker
					</li>
					<li style="float:left; width:200px; margin-left:200px; margin-top:150px;">
						A Believer
					</li>
				</ul>
			</p>
			<p style="clear:both;">
			Background image of Div should be something - Clouds or Sky or something. 
			</p>
		</div>