<div style="width:1500px; height: 1800px; margin:0 auto; background-color:white;">
	<div style="background-color:#006699; width:1200px; height:1500px; float:left; border:3px solid black;">
		<ul style="list-style:none; padding:0;">
			
			<div>
				<li style="border:3px solid black; width:350px; height:250px; background-color:white; float:left; margin-right: 40px; color:black; ">
					<h3 style="font-family:Helvetica; margin:5px;"> Dragonboating </h3>
					<p style="font-family:Verdana; margin:5px;">
						This year I'll be heading into my third year on the
						University of Toronto Iron Dragon's Dragonboat Team,  
						The only Engineering only dragonboat team around!
						<br/> 
						<br/>
						Are you a fellow dragonboater or want to know more about the sport/team? Definitely come talk to me or visit us <%= link_to "here.", "http://www.dragonboat.skule.ca/drupal/", style:"text-decoration:none;" %>
					</p>
				</li>
				<li style="border:3px solid black; width:550px; height:400px; background-color:white; float:left; clear:right;  margin-bottom: 20px;">
					<%= link_to image_tag("/assets/dragonboat1.jpg", style:"width:550px; height:400px;"), "" %>
				</li>
			</div>

			<div>
				<li style="border:3px solid black; width:350px; height:300px; background-color:white; float:left;clear:left; margin-right: 40px; color:black; ">
					<h3 style="font-family:Helvetica; margin:5px;"> Music </h3>
					<p style="font-family:Verdana;margin:5px; ">
						I thoroughly enjoy spending some time just listening to some music. Whether the genre be classical, maybe some Jazz or even some electronic, I'm willing to give everything a chance!
						<br/>
						<br/>
						Currently I am a big enthusiast for the piano and love learning new scores all the time. I've also dabbled with the guitar and used to play Alto Saxophone back in highschool.
					</p>
				</li>

				<li style="border:3px solid black; width:550px; height:400px; background-color:white; float:left; clear:right; margin-bottom: 20px;">

				</li>
			</div>
			<div>
				<li style="border:3px solid black; width:350px; height:300px; background-color:white; float:left;clear:left; margin-right: 40px; color:black;">
					<h3 style="font-family:Helvetica; margin:5px;">
						Everything Else!
					</h3>
					<p style="font-family:Verdana;margin:5px;">
					</p>
				</li>
				<li style="border:3px solid black; width:550px; height:400px; background-color:white; float:left; clear:right;  margin-bottom: 20px;">
				</li>
			</div>
		</ul>
	</div>
</div>