<div>
	<span style="border:1px solid black; float:left; width:150px; height:2000px; margin:0 auto;">
	Left Column
	</span>

	<span style="border: 1px solid red; float:left; width:1095px; height:2000px; margin:0 auto;">
		<div style="border:1px solid blue; width:1095px; height:333px; margin:auto;">
			<h2 style="text-align:center">
				“Everything you can imagine is real.” 
				<h4 style="text-align:center;">
					―	 Pablo Picasso
				</h4>
			</h2>

			<h2 style="text-align:center;">
			"The way to get started is to quit talking and begin doing." 
				<h4 style="text-align:center;">
					―	Walt Disney
				</h4>
			</h2>

			<h2 style="text-align:center;">
			"Winning isn’t everything, but wanting to win is."
				<h4 style="text-align:center;">
					–	Vince Lombardi
				</h4>
			</h2>


			Background image of Div should be something 

		</div>
		<div style="border:1px solid orange; max-width:1095px; max-height:333px; margin: 0 auto; ">
			<h2 style="text-align:center">
				Who I am
			</h2>
			<p>
				<ul>
					<li style="float:left; width:200px; margin:0 auto;">
						A Dreamer
					</li>
					<li style="float:left; width:200px;margin-top:75px;margin-left:200px;">
						A Thinker
					</li>
					<li style="float:left; width:200px; margin-left:200px; margin-top:150px;">
						A Believer
					</li>
				</ul>
			</p>
			<p style="clear:both;">
			Background image of Div should be something - Clouds or Sky or something. 
			</p>
		</div>
		<div style="border:1px solid red; width:1095px; height:333px;">
			<h2 style="text-align:center">
				About Me
			</h2>
			<ul style="float:left;">
				<li>
				Name : Matthew Pua
				</li>

				<li>
				Current Occupation: Student at the University of Toronto, Canada
				</li>

				<li>
				Education: Bachelor Applied Science and Engineering - Computer Engineering 1T5
				</li>

				<li>
				Current Year of Study: 3rd Year
				</li>

			</ul>
				<span style="float:right;">
					<div style="border:7px solid blue; border-bottom-width:40px; width:200px; height:200px; margin-right:100px;">
						<image>
							Use webkit transform rotate to angle pictures later
						</image>
					</div>
					
				</span>

		</div>
		<div style="border:1px solid red; width:1095px; height:333px;">
			<h2 style="text-align:center">
				Everything Else
			</h2>
			<div>
			Interests
			</div>
			<div>
			Experience
			</div>
			<div>
			Achievements
			</div>

		</div>

		<div style="border:1px solid red; width:1095px; height:333px;">
		<h2 style="text-align:center;">
		Want to get in Touch? 
		</h2>

		<p style="text-align:center; text-decoration:none;">
			Shoot me an email here
			<%= link_to image_tag("/assets/googleMail32px.png"), "mailto:mattpua49@gmail.com" %> 
			<br/>
			or
			<br/>
			Connect with me on LinkedIn (insert logo and link)
		</p>

		</div>
	</span>

	<span style="border:1px solid black; float:left; width:150px; height:2000px">
		Right Column
	</span>
</div>