<div>
	<span style="border:1px solid black; float:left; width:150px; height:1000px">

	</span>

	<span style="border: 1px solid red; float:left; width:1095px; height:1000px;">
		<div style="border:1px solid blue; width:1095px; height:333px;">
			<h2 style="text-align:center">
			 "Insert Famous Quote Here" 
			</h2>

			<div style="border: 1px solid blue; width:200px; height:100px; float:left;">
				Box of Content
			</div>
			<div style="border: 1px solid green; width:200px; height:100px; float:left; margin-left:250px;">
				Box of Content 2
			</div>
			<div style="border: 1px solid orange; width:200px; height:100px; float:right;">
				Box of Content 3
			</div>
		</div>
		<div style="border:1px solid orange; width:1095px; height:333px;">
			<div style="border: 1px solid blue; width:200px; height:100px; float:left;">
				Box of Content
			</div>
			<div style="border: 1px solid green; width:200px; height:100px; float:left; margin-left:250px;">
				Box of Content 2
			</div>
			<div style="border: 1px solid orange; width:200px; height:100px; float:right;">
				Box of Content 3
			</div>
		</div>
		<div style="border:1px solid red; width:1095px; height:333px;">
			<div style="border: 1px solid blue; width:200px; height:100px; float:left;">
				Box of Content
			</div>
			<div style="border: 1px solid green; width:200px; height:100px; float:left; margin-left:250px;">
				Box of Content 2
			</div>
			<div style="border: 1px solid orange; width:200px; height:100px; float:right;">
				Box of Content 3
			</div>
		</div>

	</span>

	<span style="border:1px solid black; float:left; width:150px; height:1000px">

	</span>
</div>